button:focus {
  outline: none;
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #8c7ae6;
  background: #8c7ae6;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}

.btn:hover,
.btn:active {
  background: #8c7ae6;
  border-color: #8c7ae6;
}

.btn--passive {
  color: #8c7ae6;
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn--passive:hover,
.btn--passive:active {
  background: #8c7ae62d;
  color: black;
}

.btn--danger {
  background: #d30808;
  color: white;
  border-color: #d30808;
}

.btn--danger:hover,
.btn--danger:active {
  background: #ff3217;
  border-color: #ff3217;
}

.btn--add {
  background: #6aff00;
  color: white;
  border-color: #6aff00;
}
